{% extends "user/user_base.html" %}

{% block title %}Quiz Details{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-3">Quiz Details</h2>
    <div class="card mt-3">
        <div class="card-body">
            <h4>Chapter: {{ quiz.chapter.name }}</h4>
            <p><strong>Date:</strong> {{ quiz.date.strftime('%Y-%m-%d') }}</p>
            <p><strong>Duration:</strong> {{ quiz.duration }} minutes</p>
            <p><strong>Number of Questions:</strong> {{ quiz.questions|length }}</p>
            <a href="{{ url_for('start_quiz', quiz_id=quiz.id) }}" class="btn btn-success">Start Quiz</a>
        </div>
    </div>
</div>
{% endblock %}
